<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="shortcut icon" href="img/favicon2.ico" type="image/x-icon">
</head>
<body>
	<div class="wrapper">
      <div class="header clearfix">
        <h3 class="text-muted profile-h3" >Hello Books</h3>
        <div id="welcome"><h5>Welcome Admin</h5></div>
      </div>
      <div id="container">
        <div id="menu">
          <ul>
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
          </ul>
        </div>
        <div id="content">
          content
        </div>
        <div class="clear"></div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Hello-Books, Inc.</p>
      </footer>

    </div> <!-- /container -->

<!--Loading Js Scripts -->
<script type="text/javascript" src="scripts/app.js"></script>

</body>
</html>