<!DOCTYPE html>
<html>
<head>
	<title>User Profile Page</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="shortcut icon" href="img/favicon2.ico" type="image/x-icon">
</head>
<body>
	<div class="wrapper">
      <div id="header">
        <h3>Hello Books</h3>
        <div id="welcome"><h5>Welcome User</h5></div>
        <div class="clear"></div>
      </div>
      <div id="container">
        <div id="menu">
         <ul>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="view_books_u.html">View Books</a></li>
            <li><a href="pending.html">Pending <span style="background: red; border-radius: 100%; padding: 2%;">2</span></a></li>
            <li><a href="history.html">Borrowing History</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li><a href="login.html">Logout</a></li>
          </ul>
        </div>
        <div id="content">
        <h3>Borrowing History</h3>
        <table class="table table-hover" id="view">
            <tr>
              <th>S/N</th>
              <th>Book Name</th>
              <th>Author</th>
              <th>Date Collected</th>
              <th>Date returned</th>            
            </tr>
            <tr>
              <td>1</td>
              <td>Pysiscs</td>
              <td>Sami</td>
              <td>Monday, 17 July 2017</td>
              <td>Wednesday, 30 July 2017</td>
            </tr>
             <tr>
              <td>2</td>
              <td>Digital Fortes</td>
              <td>Don something</td>
              <td>Tuesday, 10 July 2017</td>
              <td>Thursday, 3 August 2017</td>
            </tr>
             <tr>
              <td>3</td>
              <td>Romeo and Juliet</td>
              <td>William Shakspare</td>
              <td>Monday, 1 July 2017</td>
              <td>Friday, 30 May 2017</td>
            </tr>
             <tr>
              <td>4</td>
              <td>Pysiscs</td>
              <td>Sami</td>
              <td>Monday, 17 July 2017</td>
              <td>Monday, 30 July 2017</td>
            </tr>

          </table>

        </div>
        <div class="clear"></div>
      </div>

    </div> <!-- /container -->

<!--Loading Js Scripts -->
<script type="text/javascript" src="scripts/app.js"></script>

</body>
</html>