<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="shortcut icon" href="img/favicon2.ico" type="image/x-icon">
</head>
<body>
  <div id="wrapper"><!-- body begins -->

    <div id="header"><!-- Header starts -->
      <div id="logo"><img src="img/favicon1.png"></div>
      <div id="title"><h1>Hello Books</h1></div>
      <div class="clear"></div>
    </div><!--Header Ends -->

    <div id="container"><!--Contenter starts -->
      <div id="form">
        <form method="post">
          <h2>Sign in</h2>
          
          <input type="email" placeholder="Enter Email" name="" required autofocus>
          <input type="password" placeholder="Enter Password" name="" required>

          <p class="form-text">Have you forgotten Your <br><a href="recover_pass.html">Password?</a></p>

          <input type="submit" value="Sign in"  name="">
          <p class="form-text">or</p>
          <div id="g_plus">
            <img src="img/g+.png">
          </div>

          <p class="form-text">Do you wish to Resiger <br>for <a href="register.html">a new account</a>? </p>

        </form>
      </div>

    </div><!--Container ends -->
  </div><!--body ends -->
</body>
</html>