<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="shortcut icon" href="img/favicon2.ico" type="image/x-icon">
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Hello Books</h3>
      </div>

      <div class="row">
        <div class="form">
          <form class="form-signin">
            <h4 class="form-signin-heading">Login</h4>

            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p style="text-align:center">- OR - <br> <a href="register.html"> Sign Up </a><br></p>
            <a href="#">forgotten Pasword?</a>
            
          </form>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Hello-Books, Inc.</p>
      </footer>

    </div> <!-- /container -->

</body>
</html>