<!DOCTYPE html>
<html>
<head>
  <title>Password Recovery Page</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="shortcut icon" href="img/favicon2.ico" type="image/x-icon">
</head>
<body>

  <div id="wrapper"><!--Wrapper starts -->
    
    <div id="header"><!--header starts -->
      <div id="logo"><img src="img/favicon1.png"></div>
      <div id="title"><h1>Hello Books</h1></div>
      <div class="clear"></div>
    </div><!--Header ends -->

    <div id="container">
      <div id="form">
        <form>
          <p class="form-text">Enter Email Address to which recovery email would be sent to</p>
          <input type="text"  placeholder="Enter Email address" name="">          
          <input type="submit" value="Send email" name="">
        </form>
      </div>      
    </div>
  </div><!--Wrapper ends -->

</body>
</html>