<!DOCTYPE html>
<html>
<head>
	<title>User Profile Page</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="shortcut icon" href="img/favicon2.ico" type="image/x-icon">
</head>
<body>
	<div class="wrapper">
      <div id="header">
        <h3>Hello Books</h3>
        <div id="welcome"><h5>Welcome User</h5></div>
        <div class="clear"></div>
      </div>
      <div id="container">
        <div id="menu">
          <ul>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="view_books_u.html">View Books</a></li>
            <li><a href="pending.html">Pending <span style="background: red; border-radius: 100%; padding: 2%;">2</span></a></li>
            <li><a href="history.html">Borrowing History</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li><a href="login.html">Logout</a></li>
          </ul>
        </div>
        <div id="content">
        <h3>Settings</h3>
        - change password
        - upgrade.
        - 

        </div>
        <div class="clear"></div>
      </div>

    </div> <!-- /container -->

<!--Loading Js Scripts -->
<script type="text/javascript" src="scripts/app.js"></script>

</body>
</html>