#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #446;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:2px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ padding:20px;}
#dialogbox > div > #dialogboxfoot{ background: #666; padding:2px; text-align:right; }

.hand{
	cursor: pointer;
}