<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="shortcut icon" href="img/favicon2.ico" type="image/x-icon">
</head>
<body>
	<div class="wrapper"><!--wrapper starts -->
      <div id="header">
        <h3>Hello Books</h3>
        <div id="welcome"><h5>Welcome Admin</h5></div>
        <div class="clear"></div>
      </div>

      <div id="container">      
        <div id="menu"><!--Side menue -->
           <ul>
            <li><a href="admin.html">Home</a></li>
            <li><a href="add_books.html">Add Books</a></li>
            <li><a href="upload.html">Upload Book</a></li>
            <li><a href="view_books.html">View Books</a></li>            
            <li><a href="category.html">Create Category</a></li>
            <li><a href="login.html">Logout</a></li>
          </ul>
        </div><!--Side menue ends -->

        <div id="content"><!--Content starts here -->
          <div id="preview">
            <div id="recently-b"> 
              <h4>Recently borrowed books</h4>
              <table class="table table-hover" id="view">
                <tr>
                  <th>Book</th>
                  <th>Date</th>
                  <th>User</th>
                </tr>
                <tr>
                  <td>Introduction to CSS</td>
                  <td>5 June 2017</td>
                  <td>Proxie</td>
                </tr>
                 <tr>
                  <td>HTML basics</td>
                  <td>1 Jannuary 2019</td>
                  <td>Ela</td>
                </tr>
                 <tr>
                  <td>ES6</td>
                  <td>3 May 2201</td>
                  <td>Pixie</td>
                </tr>
              </table>
            </div>

            <div id="recelty-r">
               <h4>Recently returned books</h4>
              <table class="table table-hover" id="view">
                <tr>
                  <th>Book</th>
                  <th>Date returned</th>
                  <th>User</th>
                </tr>
                <tr>
                  <td>Introduction to CSS</td>
                  <td>5 June 2017</td>
                  <td>Proxie</td>
                </tr>
                <tr>
                  <td>HTML basics</td>
                  <td>1 Jannuary 2019</td>
                  <td>Ela</td>
                </tr>
                <tr>
                  <td>HTML basics</td>
                  <td>1 Jannuary 2019</td>
                  <td>Ela</td>
                </tr>
              </table>
            </div>
            <div id="depleting-books">
               <h4>Recently borrowed books</h4>
              <table class="table table-hover" id="view">
                <tr>
                  <th>Book</th>
                  <th>number</th>
                  <th>Percent</th>
                </tr>
                <tr>
                  <td>Introduction to CSS</td>
                  <td>5 June 2017</td>
                  <td>Proxie</td>
                </tr>
                 <tr>
                  <td>HTML basics</td>
                  <td>1 Jannuary 2019</td>
                  <td>Ela</td>
                </tr>
                 <tr>
                  <td>ES6</td>
                  <td>3 May 2201</td>
                  <td>Pixie</td>
                </tr>
              </table>
            </div>
            <div id="add-by-user">
             <h4>book added by users</h4>
             <p class="danger">No Book have been added by any user in the last 1 week</p>
            </div>
          </div>
          <div class="clear"></div>

          <div id="something-else">
            <!-- table here?-->
          </div>

        </div><!--content ends here -->
      </div>

    </div> <!-- wrapper -->

<!--Loading Js Scripts -->
<script type="text/javascript" src="scripts/app.js"></script>

</body>
</html>