<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="shortcut icon" href="img/favicon2.ico" type="image/x-icon">
</head>
<body>
	<div class="wrapper">
      <div id="header">
        <h3>Hello Books</h3>
        <div id="welcome"><h5>Welcome Admin</h5></div>
        <div class="clear"></div>
      </div>
      <div id="container">
        <div id="menu">
          <ul>
            <li><a href="admin.html">Home</a></li>
            <li><a href="add_books.html">Add Books</a></li>
            <li><a href="#">Upload Book</a></li>
            <li><a href="view_books.html">View Books</a></li>
            <li><a href="add_quantity.html">Add Quantity</a></li>
            <li><a href="category.html">Assing Category</a></li>
            <li><a href="login.html">Logout</a></li>
          </ul>
        </div>
        <div id="content">
          <div id="form">
            <h4 style="text-align: center;">Are you sure you want to delete <br>"Romeo & Juliet" <br>by<br> "William Shakspare"?</h4>
            <div style="text-align: center;margin-top: 10%;">
              <a href="view_books.html"><button class="btn btn-danger">Yes</button></a>
              <a href="view_books.html"><button class="btn btn-success">No</button></a>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Hello-Books, Inc.</p>
      </footer>

    </div> <!-- /container -->

<!--Loading Js Scripts -->
<script type="text/javascript" src="scripts/app.js"></script>

</body>
</html>